# Python
.venv/
dist/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.mypy_cache/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# TLS Certificates
.certs/

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
